@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam
@model List<Pertamina.IRIS.Models.ViewModels.InternationalBusinessIntelligenceDocumentViewModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Preview Document";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="modal fade" id="preview-list-modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title">List Uploaded Documents</h5>
                <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">
                    <i class="far fa-times-circle fa-2xl" style="font-size: 20px"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="column">
                    <div id="kt_file_manager_list_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                        <div id="" class="table-responsive">
                            <div id="kt_file_manager_list_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                                <div id="" class="table-responsive">
                                    <div class="dt-scroll">
                                        <div class="dt-scroll-head" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                            <div class="dt-scroll-headInner"
                                                 style="box-sizing: content-box; width: 1122.9px; padding-right: 11px;">
                                                <table data-kt-filemanager-table="folders"
                                                       class="table align-middle table-row-dashed fs-6 gy-5 dataTable"
                                                       style="margin-left: 0px; width: 100%;">
                                                    <thead>
                                                        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                                                            <th class="min-w-250px dt-orderable-none" data-dt-column="0" rowspan="1"
                                                                colspan="1">
                                                                <span class="dt-column-title">Name</span><span class="dt-column-order"></span>
                                                            </th>
                                                            <th class="min-w-10px dt-orderable-none" data-dt-column="1" rowspan="1"
                                                                colspan="1">
                                                                <span class="dt-column-title">Size</span><span class="dt-column-order"></span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <colgroup>
                                                        <col data-dt-column="0" style="width: 495.837px;">
                                                        <col data-dt-column="1" style="width: 133.9px;">
                                                    </colgroup>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="dt-scroll-body" style="position: relative; overflow: auto; max-height: 250px;">
                                            <table id="kt_file_manager_list" data-kt-filemanager-table="folders"
                                                   class="table align-middle table-row-dashed fs-6 gy-5 dataTable" style="width: 100%;">
                                                <colgroup>
                                                    <col data-dt-column="1" style="width: 495.837px;">
                                                    <col data-dt-column="2" style="width: 133.9px;">
                                                </colgroup>

                                                <tbody class="fw-semibold text-gray-600">
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="d-flex align-items-center">
                                                                    <i class="ki-duotone ki-files fs-2x text-primary me-4"></i>
                                                                    <a id="btn-preview-file" class="text-gray-800 text-hover-primary" onclick="downloadFile('@item.Id')">@item.FileNameUser</a>
                                                                </div>
                                                            </td>
                                                            <td>@item.FileSize KB</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.featureName = 'IBI';
            return param;
        })(param || {});


    </script>
    <script src="~/js/form/base-url-api.js"></script>
    <script src="~/js/form/internationalBusinessIntelligence.js"></script>
}