<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Removed other configuration -->
		<security>
			<requestFiltering>
				<!-- 128MB = 134,217,728  Bytes -->
				<requestLimits maxAllowedContentLength="134217728"/>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>