@using Pertamina.IRIS.Models.Base
@inject GlobalVariableBaseModel globalParam

@{
    ViewData["Title"] = "UnAuthorize Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card card-stretch g-1">
    <div class="card-body">
        <div class="d-flex flex-center flex-column align-items-stretch h-lg-100">
            <div class="d-flex flex-column flex-root">
                <div class="d-flex flex-column flex-center flex-column-fluid">
                    <div class="d-flex flex-column flex-center text-center p-10">
                        <div class="card card-flush w-lg-650px py-5">
                            <div class="card-body py-15 py-lg-20">
                                <div class="mb-13">
                                    <div class="">
                                        <img alt="Logo" src="img/logo-pertamina.png" class="h-60px" />
                                    </div>
                                </div>
                                <h1 class="fw-bolder text-gray-900 mb-5">UnAuthorize</h1>
                                <div class="fw-semibold fs-6 text-gray-500 mb-8">
                                    This page is meant to only be accessed by certain people
                                </div>
                                <div class="mb-11">
                                    <a onclick="location.href='@Url.Action("Index", "Login")'" class="btn btn-sm btn-primary">Go to Home Page</a>
                                </div>
                                <div class="mb-0">
                                    <img src="assets/media/auth/membership.png" class="mw-100 mh-300px theme-light-show" alt="" />
                                    <img src="assets/media/auth/membership-dark.png" class="mw-100 mh-300px theme-dark-show" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var param = (function (param) {
            param.prefix = '@globalParam.PrefixApiUrl';
            param.urlAction = '@controllerName/';
            return param;
        })(param || {});
    </script>
    <script src="~/js/form/landingPage.js"></script>
}
